{% extends "base.html" %}

{% block title %}Como funciona? - Propulsor de Venda{% endblock %}

{% block head %}
<style>
  .header {
    text-align: center;
    padding: 20px;
  }

  .header[data-theme="light"] {
    background-color: var(--background-light);
    color: var(--text-light);
  }

  .header[data-theme="dark"] {
    background-color: var(--card-dark);
    color: var(--text-dark);
  }

  .section {
    background-color: #1976f3;
    color: white;
    padding: 30px 20px;
    text-align: center;
    border-radius: 8px;
  }

  .section h2 {
    margin-bottom: 30px;
    font-size: 24px;
  }

  .card {
    background-color: var(--card-light);
    color: var(--text-light);
    border-radius: 20px;
    padding: 25px;
    margin: 15px auto;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
  }

  body[data-theme="dark"] .card {
    background-color: var(--card-dark);
    color: var(--text-dark);
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  }

  .card img {
    width: 60px;
    margin-bottom: 15px;
  }

  .card p {
    font-size: 16px;
    margin: 0;
  }
</style>
{% endblock %}

{% block content %}
      <div class="header" data-theme="{{ body_theme }}">
        <p>Internet de fibra e <span class="highlight">SEJA RECOMPENSADO</span> com cada novo assinante.</p>
      </div>
        {% if user and user.role == 'colaborador' %}
          <div class="section">
            <h2>Como funciona?</h2>
              <a href="/campanhas/by-usuario" class="card-link-button" style="text-decoration: none; color: inherit;">
                <div class="card">
                  <img src="/static/icons/link.png" alt="Compartilhar" />
                  <p>Compartilhe seu link exclusivo da Tata Telecom</p>
                </div>
              </a>
              <div class="card">
                <img src="/static/icons/seguidores.png" alt="Seguidores" />
                <p>Seus seguidores acessam e assinam um plano.</p>
              </div>
              <div class="card">
                <img src="/static/icons/presente.png" alt="Benefícios" />
                <p>Você ganha benefícios por cada novo assinante!</p>
              </div>
            </div>
        {% endif %}
        {% if user and user.role in ['gerente', 'coo'] %}
            <a href="/campanhas/new" class="card-link-button" style="text-decoration: none; color: inherit;">
                <div class="card">
                  <img src="/static/icons/add.png" alt="Compartilhar" />
                  <p>Criar Campanha</p>
                </div>
              </a>
        {% endif %}
{% endblock %}
